<!DOCTYPE html>
<html>
<head>
  <link href="./resources/css/index.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300&display=swap" rel="stylesheet">
  <title>Portfolio</title>
</head>
<body class="index">


<nav class="nav">

  <div class="nav-header">
    <h2 class="nav-title">Portfolio</h2>
  </div>

  <ul class="nav-links">
    <li><%= link_to "About me", about_path %></li>
    <li><%= link_to "Portfolio", portfolio_path %></li>
    <li><%= link_to "Contact Me", contact_path %></li>
  </ul>

</nav>


<header>

  <div class="header">
    <h1 class="header-title">Welcome to my Portfolio</h1>
  </div>

</header>


<section>
</section>

<aside>
</aside>

<footer>
</footer>

</body>
</html>
