<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> -->
  <title>Portfolio</title>
</head>
<body class="index">
  <div class="banner" style="background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/fern-leaf_OSZ8T0GGHL.jpg);">
    <div class="overlay"></div>
    <div class="half-overlay"></div>

    <nav class="banner-nav">
      <div class="nav-header">
        <h2 class="nav-title">Portfolio</h2>
      </div>

      <ul class="nav-links">
        <li><%= link_to "About me", about_path %></li>
        <li><%= link_to "Portfolio", portfolio_path %></li>
        <li><%= link_to "Contact Me", contact_path %></li>
      </ul>
    </nav>

  <header class="header">
    <!-- <header class="header-title"> -->
      <h2>
        <small>
          Hi, I'm
        </small>
        Elise
        <small>
          Front-end developer
        </small>
      </h2>
      <h3>

      </h3>
    <!-- </header> -->
  </header>


<section>
</section>

<aside>
</aside>

<footer>
</footer>

</body>
</html>
