<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> -->
  <title>Portfolio</title>
</head>
<body class="index">
  <div class="banner" style="background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/fern-leaf_OSZ8T0GGHL.jpg);">
    <div class="overlay"></div>
    <div class="half-overlay"></div>

    <nav class="banner-nav">
      <div class="nav-header">
        <h2 class="nav-title">Portfolio</h2>
      </div>

      <ul class="nav-links">
        <li><a href="#about-me">About Me</a></li>
        <li><%= link_to "Portfolio", portfolio_path %></li>
        <li><%= link_to "Contact Me", contact_path %></li>
      </ul>
    </nav>

    <header class="header">
      <div class="intro">
        <h2>Hi, I'm Elise</h2>
        <h3>Front-end developer</h3>
      </div>
    </header>

    <div class="banner-button">
      <button>
        <a href="#about-me">About Me</a>
      </button>
    </div>
  </div>

  <section class="about">
    <div class="half-overlay"></div>
    <div class="about-section">
      <div class="about-body" id="about-me">
        <h2>About me</h2>
        <p>Ante metus dictum at tempor commodo. Odio ut enim blandit volutpat. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Malesuada pellentesque elit eget gravida cum. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Porttitor leo a diam sollicitudin tempor id. Id donec ultrices tincidunt arcu non sodales neque sodales ut. Tellus at urna condimentum mattis pellentesque.</p>
        <p>Aliquet porttitor lacus luctus accumsan. Molestie a iaculis at erat pellentesque adipiscing commodo elit at. Nulla at volutpat diam ut. Euismod in pellentesque massa placerat duis ultricies lacus sed. Turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet. Pretium vulputate sapien nec sagittis aliquam. At augue eget arcu dictum varius duis at consectetur. Gravida quis blandit turpis cursus in hac. Urna nec tincidunt praesent semper.</p>
      </div>
    </div>
  </section>

  <section class="portfolio">
    <div class="half-overlay"></div>

    <h2>Portfolio</h2>

    <div class="portfolio-cards">
      <div class="card">
        <div class="description">
          <p>In nulla posuere sollicitudin aliquam ultrices sagittis. Mauris rhoncus aenean vel elit.</p>
        </div>
      </div>
      <div class="card">
        <div class="description">
          <p>Placerat orci nulla pellentesque dignissim enim sit. Elementum tempus egestas sed sed risus.</p>
        </div>
      </div>
      <div class="card">
        <div class="description">
          <p>Quam pellentesque nec nam aliquam sem et tortor. Congue nisi vitae suscipit tellus mauris a diam maecenas.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="half-overlay"></div>

    <div class="contact-section">
      <div class="contact-body">

        <h2>Contact</h2>

        <h3> Phone
          <p>(248) 705-7423</p>
        </h3>

        <h3> Email
          <p>ewether@gmail.com</p>
        </h3>

        <h3>GitHub</h3>

      </div>
    </div>

  </section>

  <footer>
  </footer>

<section>
</section>

<aside>
</aside>

<footer>
</footer>

</body>
</html>

























