section.about {
  height: 130vh;
  background-color: rgba(8, 11, 18, 1);
  z-index: 1;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .overlay {
    z-index: -1;
    position: absolute;
    background-color: rgba(8, 10, 17, .95);
    height: 100%;
    width: 100%;
  }

  .half-overlay {
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, .55);
    height: 130vh;
    width: 50%;
    transform: translateX(100%);
  }

  .about-section {
    width: 45%;
    height: 130vh;
    margin: auto;
    position: relative;
    letter-spacing: 2px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about-body {
      border: 1px solid white;
      position: relative;
      z-index: 1;

        .overlay {
          z-index: -1;
          position: absolute;
          background-color: rgba(8, 10, 17, .7);
          height: 100%;
          width: 100%;
        }

      .about-content {
        padding: 2em;

        h2 {
          font-size: 3em;
          margin: 0;
        }

        p {
          font-size: 1.25em;
        }
      }
    }
  }
}







































