$base-spacing: 2em;
$main-color: #212121;
$main-font: 'Fira Sans Condensed', sans-serif;

html {
  scroll-behavior: smooth;
}

body.index {
  margin: 0;
  background-color: black;
  font-family: $main-font;
  letter-spacing: 1.75px;
  font-weight: 200;
  color: white;
  text-align: center;

  .banner {
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .overlay {
      z-index: -1;
      position: absolute;
      background-color: rgba(5, 5, 15, .6);
      height: 100%;
      width: 100%;
    }

    .half-overlay {
      z-index: -1;
      position: absolute;
      background-color: rgba(0, 0, 0, .55);
      height: 100%;
      width: 50%;
      transform: translateX(100%);
    }

    .banner-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $base-spacing*2;

      .nav-header {
        .nav-title {
          font-weight: normal;
          font-size: 1.5em;
        }
      }

      .nav-links {
        display: flex;
        justify-content: space-evenly;

        li {
          font-size: 1.5em;
          list-style-type: none;
          padding: 0 $base-spacing/2;

          a {
            text-decoration: none;
            color: white;
          }

          a:hover {
            color: gray;
          }
        }
      }
    }

    header.header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      height: 85vh;

      .intro {
        text-align: left;
        margin-right: 18em;

        h2 {
          margin: 0;
          font-size: 6.5em;
        }

        h3 {
          font-size: 3.51em;
          margin: 0;
          padding-left: 3px;
          line-height: .75;
        }
      }
    }

    button {
      height: 3.5em;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 2px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 100;
        font-size: 1.5em;
        letter-spacing: 2px;
        padding: .5em;
      }
    }
  }

  #about-me {
    height: 100vh;
    background-color: rgba(8, 11, 17, 1);

    .half-overlay {
      position: absolute;
      background-color: rgba(0, 0, 0, .55);
      height: 100%;
      width: 50%;
      transform: translateX(100%);
    }
  }
}





















