$base-spacing: 2em;
$main-color: #212121;
$main-font: 'Fira Sans Condensed', sans-serif;;

body.index {
  margin: 0;
  background-color: black;
  font-family: $main-font;
  letter-spacing: 1.75px;
  font-weight: 200;
  color: white;
  text-align: center;
  overflow: hidden;

  .banner {
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .overlay {
      z-index: -1;
      position: absolute;
      background-color: rgba(5, 5, 15, .6);
      height: 100%;
      width: 100%;
    }

    .half-overlay {
      z-index: -1;
      position: absolute;
      background-color: rgba(0, 0, 0, .55);
      height: 100%;
      width: 50%;
      transform: translateX(100%);
      // border-left: 1px solid white;
    }

    .banner-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $base-spacing*2;

      .nav-header {
        .nav-title {
          font-weight: normal;
          font-size: 1.5em;
        }
      }

      .nav-links {
        display: flex;
        justify-content: space-evenly;

        li {
          font-size: 1.5em;
          list-style-type: none;
          padding: 0 $base-spacing/2;

          a {
            text-decoration: none;
            color: white;
          }

          a:hover {
            color: gray;
          }
        }
      }
    }

    header.header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      height: 100vh;

      h2 {
        width: 400px;
        margin: 0 0 1em 0;
        display: flex;
        flex-direction: column;
        font-size: 8em;
        font-weight: 400;
        font-family: 'Dancing Script', cursive;
        transform: translateX(-60%);

        small {
          font-weight: 200;
          font-size: 30%;
          line-height: .7;
          font-family: $main-font;

          &:first-child {
            font-size: 20%;
            line-height: .6;
          }
        }
      }
      // h3 {
      //   margin: 0 0 2em 0;
      //   font-size: 2em;
      //   line-height: .9;
      //   font-weight: 200;
      //   width: 400px;
      //   transform: translateX(54%);
      // }
    }
  }
}





















