$base-spacing: 2em;
$main-color: #212121;
$main-font: 'Fira Sans Condensed', sans-serif;;

body.index {
  margin: 0;
  // background-color: $main-color;
  font-family: $main-font;
  letter-spacing: 1.75px;
  font-weight: 200;
  color: white;
  text-align: center;

  .banner {
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

    .overlay {
      z-index: -1;
      position: absolute;
      background-color: rgba(0, 0, 0, .65);
      height: 100%;
      width: 100%;
    }

    .banner-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $base-spacing*2;

      .nav-header {
        .nav-title {
          font-weight: normal;
          font-size: 1.5em;
        }
      }

      .nav-links {
        display: flex;
        justify-content: space-evenly;

        li {
          font-size: 1.5em;
          list-style-type: none;
          padding: 0 $base-spacing/2;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    .banner-header {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 70%;

      .header-title {
        font-size: 1em;
        text-align: left;
        margin-bottom: 4em;

        h2 {
          margin: 0;
          display: flex;
          flex-direction: column;
          font-size: 6em;
          font-weight: 200;
          font-family: 'Dancing Script', cursive;

          span {
            font-size: 60%;
            font-weight: 200;
            line-height: .9;
            margin-left: 2px;
            font-family: $main-font;
          }

          small {
            font-size: 30%;
            line-height: .85;
            margin-left: 6px;
            font-family: $main-font;
          }
        }
      }
    }
  }
}





















