@mixin button {
    border: 1px solid white;
    border-radius: 2px;
    background-color: rgba(8, 10, 17, .7);

    a {
      text-decoration: none;
      color: white;
      font-weight: 100;
      font-size: 1.5em;
      padding: .5em;
    }
}
