$main-font: 'Noto Sans TC', sans-serif;

$main-dark: #1f252e;
$main-light: #BFD2C9;
$accent-hex: #b34b73;

html, body {
  height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h2 {
    color: $main-dark;
    font-size: 1.4em;
}


body#body {
    margin: 0;
    font-family: $main-font;
    letter-spacing: 1.75px;
    font-weight: 200;
    letter-spacing: 2px;
    background-color: $main-light;

    .site-wrapper {

        nav {
            background-color: rgba(191, 124, 150, .9);
            padding: 22px 16px 16px;
            color: #fff;
            position: fixed;
            width: 100%;
            z-index: 10;
            display: flex;
            justify-content: center;

            @media screen and (min-width: 700px) {
                padding: 16px 6% 10px;
                justify-content: space-between;
            }

            @media screen and (min-width: 1100px) {
                padding: 16px 6% 10px;
            }

            @media screen and (min-width: 1250px) {
                padding: 16px 8% 10px;
            }

            .nav-header {
                text-align: center;
                width: 100%;
                display: none;

                @media screen and (min-width: 700px) {
                    width: 36px;
                    display: block;
                }
            }

            .nav-links {
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 445px;
                padding: 0;
                font-weight: 300;
                margin-bottom: 0;

                @media screen and (min-width: 700px) {
                    width: 60%;
                }

                li {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    transition: .5s;
                    padding: 0 6px;
                    margin: 0;
                    z-index: 3;

                    a {
                        color: #fff;
                        z-index: 3;
                        font-weight: 400;
                        height: 30px;
                        width: 100%;
                    }

                    &::after {
                        width: 100px;
                        height: 20px;
                        background-color: transparent;
                        content: '';
                        position: absolute;
                        transition: 0.5s;
                        margin-bottom: 0;
                        margin-left: -8px;
                        // border-radius: 2px;
                    }
                }

                li:hover {
                    cursor: pointer;
                    // background-color: #fff;
                    color: $accent-hex;

                    &::after {
                        width: 100px;
                        height: 74px;
                        background-color: #fff;
                        opacity: .4;
                        content: '';
                        z-index: 1;
                        margin-bottom: 18px;
                    }

                    a {
                        color: $accent-hex;
                        text-decoration: none;
                    }
                }

                #portfolio-li {
                    &::after {
                        margin-left: -10px;
                    }
                }

                #contact-li {
                    &::after {
                        margin-left: -14px;
                    }
                }
            }
        }

        .banner-body {
            color: $main-dark;
            padding: 0;

            .overlay {
                background-color: rgba(8, 10, 17, 0.25);
                z-index: 1;
                position: absolute;
                width: 100%;
                height: 327px;

                @media screen and (min-width: 700px) {
                    background-color: rgba(8, 10, 17, 0.35);
                    height: 560px;
                }

                @media screen and (min-width: 1100px) {
                    height: 760px;
                }
            }

            .banner-background {
                width: 100%;
                height: 265px;
                background-position: cover;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 1px;
                margin-top: 62px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media screen and (min-width: 700px) {
                    height: 560px;
                }

                @media screen and (min-width: 1100px) {
                    height: 620px;
                }
            }

            .banner-profile {
                width: 40%;
                height: 178px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 32px;
                align-self: flex-end;
                margin-right: 5%;
                margin-top: -118px;
                z-index: 3;
                box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;

                @media screen and (min-width: 500px) {
                    width: 200px;
                    height: 200px;
                    margin-right: 7%;
                    margin-top: -145px;
                }

                @media screen and (min-width: 700px) {
                    width: 240px;
                    height: 240px;
                    margin-right: 10%;
                    margin-top: -460px;
                }

                @media screen and (min-width: 900px) {
                    width: 250px;
                    height: 250px;
                }

                @media screen and (min-width: 1100px) {
                    margin-top: -510px;
                    margin-right: 13%;
                    width: 300px;
                }

                @media screen and (min-width: 1250px) {
                    margin-right: 15%;
                }
            }

            .intro {
                display: flex;
                flex-direction: column;

                .banner-headers {
                    z-index: 3;
                    margin: 0 5%;

                    @media screen and (min-width: 500px) {
                        margin: 0 7%;
                    }

                    @media screen and (min-width: 700px) {
                        margin: 0 10%;
                    }

                    @media screen and (min-width: 1100px) {
                        margin: 0 13%;
                    }

                    @media screen and (min-width: 1250px) {
                        margin: 0 15%;
                    }

                    h3 {
                        font-size: .75em;
                        font-weight: bold;
                        position: relative;
                        top: 134px;
                        width: 80%;
                        color: $accent-hex;
                        border-bottom: 2px solid #fff;
                        line-height: 2;
                        z-index: 2;

                        @media screen and (min-width: 500px) {
                            font-size: 1em;
                        }

                        @media screen and (min-width: 700px) {
                            top: -3px;
                            font-size: 1.25em;
                        }   

                        @media screen and (min-width: 1100px) {
                            border-bottom: 3px solid #fff;
                            width: 46%;
                            font-size: 1.5em;
                        }
                    }

                    .intro-heading {
                        color: white;
                        font-size: 2em;
                        margin-top: -40px;
                        display: flex;
                        flex-direction: column;
                        width: 40%;
                        z-index: 2;

                        @media screen and (min-width: 700px) {
                            width: 60%;
                            margin-top: -135px;
                        }

                        @media screen and (min-width: 1100px) {
                            font-size: 2.45em;
                        }
                    }
                }
            }
        }

        .about-body {
            margin-top: -68%;
            color: $main-dark;
            box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;

            svg {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(180deg);
            }
            .wave {
                display: inline-block;
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                vertical-align: middle;
                overflow: hidden;
                z-index: 2;
            }

            .header-wrapper {
                padding: 0 30px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                background-color: #fff;
                z-index: 3;

                @media screen and (min-width: 700px) {
                    margin-top: -10px;
                    padding: 0 10%;
                }

                @media screen and (min-width: 900px) {
                    margin-top: -20px;
                }

                @media screen and (min-width: 1100px) {
                    padding: 0 13%;
                }

                @media screen and (min-width: 1250px) {
                    margin-top: -33px;
                    padding: 0 15%;
                }
            
                h2 {
                    width: 100%;
                    color: $accent-hex;
                    font-size: 1.4em;
                    z-index: 3;
                }

                .line {
                    width: 100%;
                    height: 2px;
                    background-color: $main-light;
                }
            }

            #about-section {
                scroll-margin-top: 12em;
            }

            .about-content {
                background-color: #fff;
                padding: 30px 30px 60px;
                border-radius: 1px;
                font-weight: 400;

                    @media screen and (min-width: 700px) {
                        padding: 30px 10% 80px;
                    }

                    @media screen and (min-width: 900px) {
                        padding: 30px 10% 100px;
                    }

                    @media screen and (min-width: 1100px) {
                        padding: 30px 13% 130px;
                    }

                    @media screen and (min-width: 1250px) {
                        padding: 30px 15% 160px;
                    }

                .about-intro {
                    font-weight: 600;
                    margin: 0 0 24px;
                }

                p {
                    margin: 0;
                    max-width: 420px;

                    @media screen and (min-width: 600px) {
                        max-width: 500px;
                    }
                    
                    @media screen and (min-width: 1000px) {
                        max-width: 620px;
                    }
                }
            }
        }

        #portfolio {
            padding: 60px 0 30px;

            @media screen and (min-width: 700px) {
                padding: 100px 0 30px;
            }

            .portfolio-body {

                .header-wrapper {
                    padding: 0 30px;
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;

                    @media screen and (min-width: 700px) {
                        padding: 0 10%;
                    }

                    @media screen and (min-width: 1100px) {
                        padding: 0 13%;
                    }

                    @media screen and (min-width: 1250px) {
                        padding: 0 15%;
                    }

                    h2 {
                        font-size: 1.4em;
                        margin: 0 0 .5rem;
                        text-align: center;
                        background-color: $main-light;
                        color: $accent-hex;
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background-color: #fff;
                    }
                }

                #portfolio-section {
                    scroll-margin-top: 10em;
                }

                .portfolio-cards {
                    color: $main-dark;
                    background-color: $main-light;

                    @media screen and (min-width: 700px) {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0 60px;
                        margin: auto;
                        justify-content: center;
                    }

                    @media screen and (min-width: 1100px) {
                        padding: 0 100px;
                    }

                    .card:hover {
                        .overlay {
                            background-color: rgba(8, 10, 17, 0.1);
                            transition: .1s all ease-in;
                        }
                    }

                    .card {
                        background-color: #fff;
                        border-radius: 2px;
                        border: none;
                        overflow: hidden;
                        width: 70%;
                        margin: 30px auto;
                        max-width: 312px;
                        cursor: pointer;
                        box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
                        z-index: 3;

                        .overlay {
                            background-color: rgba(8, 10, 17, 0.0);
                            z-index: 1;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }

                        @media screen and (min-width: 700px) {
                            margin: 30px 8px 20px;
                        }

                        @media screen and (min-width: 760px) {
                            margin: 40px 8px 20px;
                        }

                        @media screen and (min-width: 1000px) {
                            margin: 40px 8px 20px;
                        }

                        @media screen and (min-width: 1150px) {
                            margin: 60px 15px 20px;
                            width: 25%;
                        }

                        .card-img {
                            height: 230px;
                            width: 100%;
                            background-position: top;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 0px;
                        }

                        .description {
                            padding: 14px 20px;
                            font-size: .9em;
                            display: flex;
                            flex-wrap: wrap;

                            h3 {
                                font-size: 1.25em;
                                text-align: center;
                                margin: 0 auto 18px;
                                width: 100%;
                            }

                            .languages {
                                font-weight: 500;
                                color: $main-dark;

                                p {
                                    margin-bottom: 2px;
                                }
                            }

                            .github-link {
                                align-self: flex-end;
                                margin-left: auto;

                                a {
                                    color: $main-dark;
                                }

                                img {
                                    height: 36px;
                                    width: 36px;
                                }
                            }
                        }
                    }

                    .card-1 {

                        @media screen and (min-width: 700px) {
                            margin: 50px auto 20px;
                        }

                        @media screen and (min-width: 760px) {
                            margin: 40px 8px 20px;
                        }

                        @media screen and (min-width: 1150px) {
                            margin: 60px 15px 20px;
                        }
                    }

                    .card-3 {
                        margin-bottom: 0;

                        @media screen and (min-width: 700px) {
                            margin-bottom: 20px;
                        }

                        @media screen and (min-width: 1100px) {
                            margin: 40px 8px 20px;
                        }

                        @media screen and (min-width: 1150px) {
                            margin: 60px 15px 20px;
                        }
                    }
                }
            }
        }

        #contact {

            .contact-body {
                background-color: #fff;
                color: $main-dark;
                display: flex;
                flex-wrap: wrap;
                border-radius: 2px;

                .header-wrapper {
                    padding: 20px 30px 0;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;

                    @media screen and (min-width: 700px) {
                        padding: 40px 10% 0;
                    }

                    @media screen and (min-width: 900px) {
                        padding: 60px 10% 0;
                    }

                    @media screen and (min-width: 1100px) {
                        padding: 90px 13% 0;
                    }

                    @media screen and (min-width: 1250px) {
                        padding: 100px 15% 0;
                    }

                    h2 {
                        font-size: 1.4em;
                        margin: 0 0 .5rem;
                        background-color: #fff;
                        color: $accent-hex;
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        background-color: $main-light;
                        margin-bottom: 30px;
                    }
                }

                svg {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .wave {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    padding-bottom: 41%;
                    vertical-align: middle;
                    overflow: hidden;
                    margin-top: -22px;

                    @media screen and (min-width: 500px) {
                        padding-bottom: 39%;
                        margin-top: -82px;
                    }

                    @media screen and (min-width: 600px) {
                        padding-bottom: 35%;
                        margin-top: -102px;
                    }

                    @media screen and (min-width: 800px) {
                        padding-bottom: 32%;
                        margin-top: -132px;
                    }

                    @media screen and (min-width: 1250px) {
                        margin-top: -210px;
                    }
                }

                h2 {
                    color: $main-dark;
                    font-size: 1.4em;
                    margin: 0 0 30px;
                    background-color: #fff;
                    width: 100%;
                }

                .contact-content {
                    padding: 0 30px 60px;
                    width: 100%;

                    @media screen and (min-width: 700px) {
                        padding: 0 10% 70px;
                    }

                    @media screen and (min-width: 900px) {
                        padding: 0 10% 80px;
                    }

                    @media screen and (min-width: 1100px) {
                        padding: 0 13% 110px;
                    }

                    @media screen and (min-width: 1250px) {
                        padding: 0 15% 120px;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 4px;
                    }
                
                    .contact-a-wrapper {
                        width: 100%;
                        margin: 30px 0 0;
                    }

                    h3 {
                        font-size: 1em;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin-bottom: 14px;

                        a {
                            color: $main-dark;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }

        footer {
            color: #fff;
            background-color: rgba(191, 124, 150, .975);
            text-align: center;
            font-size: .85em;

            small {
                margin: 5px 0;
            }
        }
    }
}


// .nav-toggle {
                //     display: block;
                //     position: relative;
                //     z-index: 1;
                //     -webkit-user-select: none;
                //     user-select: none;
                //     left: 300px;
                //     top: -2px;
                // }

                // .nav-toggle input {
                //     display: block;
                //     width: 40px;
                //     height: 32px;
                //     position: absolute;
                //     top: -7px;
                //     left: -5px;
                //     cursor: pointer;
                //     opacity: 0;
                //     z-index: 2; 
                //     -webkit-touch-callout: none;
                // }

                // .nav-toggle span {
                //     display: block;
                //     width: 33px;
                //     height: 4px;
                //     margin-bottom: 5px;
                //     position: relative;
                //     background: #232323;
                //     border-radius: 3px;
                //     z-index: 1;
                //     transform-origin: 4px 0px;
                //     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                //                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                //                 opacity 0.55s ease;
                // }

                // .nav-toggle span:first-child {
                //     transform-origin: 0% 0%;
                // }

                // .nav-toggle span:nth-last-child(2) {
                //     transform-origin: 0% 100%;
                // }

                // .nav-toggle input:checked ~ span {
                //     opacity: 1;
                //     transform: rotate(45deg) translate(-2px, -1px);
                //     background: #232323;
                // }

                // .nav-toggle input:checked ~ span:nth-last-child(3) {
                //     opacity: 0;
                //     transform: rotate(0deg) scale(0.2, 0.2);
                // }

                // .nav-toggle input:checked ~ span:nth-last-child(2) {
                //     transform: rotate(-45deg) translate(0, -1px);
                // }

                // .nav-toggle input:checked ~ ul {
                //     transform: none;
                // }

                // .nav-header {
                //     text-align: center;
                //     width: 100%;
                //     display: none;
                // }

                // .nav-links {
                //     display: flex;
                //     justify-content: space-between;
                //     width: 100%;
                //     padding: 0;
                //     position: absolute;
                //     width: 300px;
                //     margin: -100px 0 0 354px;
                //     padding: 50px;
                //     padding-top: 125px;
                //     background: #ededed;
                //     list-style-type: none;
                //     -webkit-font-smoothing: antialiased;
                //     transform-origin: 0% 0%;
                //     transform: translate(-100%, 0);
                //     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                // }